<!DOCTYPE html>
<html lang="vi">
  <head>
    <title>User</title>
    <%= stylesheet_link_tag 'application_user', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application_user', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/loader' %>

    <div class="container">
      <div class="header">
        <h1>React Demo</h1>
        <p>Rails + React + Redux + Ant Design</p>
      </div>

      <div class="topnav">
        <%= link_to "Home", user_root_path %>
        <a href="#" style="float:right">Admin</a>
      </div>

      <div class="row">
        <%= yield %>
      </div>

      <div class="footer">
        <h2>Footer</h2>
      </div>
    </div>
  </body>
</html>
